body{
    font-family: Arial, Helvetica, sans-serif;
    background: black;
    margin: 0;
    }

div .post {
background-color: white;
width: 500px;
margin:auto;
margin-top: 20px;
margin-bottom: 20px;
}

.post-header{
display: flex;
justify-content: space-between;
align-items: center;
margin-left: 15px;
}

.post-header div:first-child{
    display: inline-block;
    width: 15%;
}

.post-header div:last-child{
    display: inline-block;
    width: 60%;
    text-align: right;    
}

.post-icons div:first-child{
    display: inline-block;
    width: 85%;
}

.post-icons div:last-child{
    display: inline-block;
    width: 10%;
    text-align: right;
    margin-right: 0%;
    padding-right: 0%;
}

.post-header img
{
    width: 70px;   
}
.post-center img{
    width: 500px;
}

.post-body{
    padding: 10px;
}

.punts{
    font-size: 45px;
    margin-right: 40px;
}

.fa-regular{
    font-size: 40px;
}